[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PropCIs"]
	path = PropCIs
	url = https://github.com/shearer/propcis
[submodule "samplesize"]
	path = samplesize
	url = https://github.com/shearer/samplesize
[submodule "simboot"]
	path = simboot
	url = https://github.com/shearer/simboot
